<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Goals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Goals
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="!data.getGoals() || data.getGoals().length == 0">
    <strong>No goals yet..</strong>
    <p>Choose some from the <a [routerLink]="'/tabs/tips'">'Tips' tab</a>.</p>
  </div>

  <ion-card *ngFor="let goal of data.getGoals(); let i = index" [attr.data-index]="i">
    <ion-card-header>
      <ion-card-subtitle>
        {{ data.getTipById(goal.tipId).tags }}
        <ion-note class="ion-float-right" style="font-weight: normal">Added: {{ goal.added | date }}</ion-note>
      </ion-card-subtitle>
      <ion-card-title>Goal {{ i + 1 }}: {{ data.getTipById(goal.tipId).title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ data.getTipById(goal.tipId).subtitle }} </p>
      <br/>
      <div class="ion-text-center">
      How long did you keep it up ?
    </div>
      <ion-segment value="{{goal.duration}}">
        <ion-segment-button (click)="data.setDuration(goal.tipId, 1)" value="1">
          <ion-label>A Day</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="data.setDuration(goal.tipId, 7)" value="7">
          <ion-label>A Week</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="data.setDuration(goal.tipId, 30)" value="30">
          <ion-label>A Month</ion-label>
        </ion-segment-button>
      </ion-segment>
<br/>
      <div class="ion-text-center">
        Did you find it helpful ?
      </div><br/>
      <ion-segment value="{{goal.helpful}}">
        <ion-segment-button (click)="data.setHelpful(goal.tipId, -1)" value="-1">
          <ion-label><ion-icon name="sad-outline" size="large" color="danger"></ion-icon></ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="data.setHelpful(goal.tipId, 0)" value="0">
          <ion-label><ion-icon name="happy-outline" size="large" color='medium'></ion-icon></ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="data.setHelpful(goal.tipId, 1)" value="1">
          <ion-label><ion-icon name="happy-outline" size="large" color="success"></ion-icon></ion-label>
        </ion-segment-button>
      </ion-segment>


      <!--<p>
        {{ data.getTips()[goal.tipId].subtitle }}
      </p>-->
      

    </ion-card-content>

    <!--<ion-footer>

    </ion-footer>-->
  </ion-card>
</ion-content>
